{
  "env": {
    "development": {
      "plugins": [
        "@babel/plugin-proposal-object-rest-spread"
      ]
    },
    "production": {
      "plugins": [
        "@babel/plugin-proposal-object-rest-spread"
      ]
    },
    "test": {
      "plugins": [
        "@babel/plugin-transform-modules-commonjs",
        "@babel/plugin-proposal-object-rest-spread"
      ]
    }
  }
}
