{
  "extends": "airbnb",
  "rules": {
    "max-len": ["error", 80],
    "no-console": ["error", {
      allow: ["info", "warn", "error"]
    }],
    "no-param-reassign": ["error", {
      "props": false
    }],
    "no-underscore-dangle": ["error", {
      "allow": [
        "_uid",
        "_sink",
        "_internalRoot",
        "_targetTextNode",
        "_handledTextNodes",
        "_reactRootContainer"
      ]
    }],
    "no-prototype-builtins": "off"
  },
}
